export PYTHONPATH=/local/jkaufman/simbricks/sims/external/gem5/src/python/:/local/jkaufman/tvm-simbricks/python:/local/jkaufman/tvm-simbricks/vta/python
export VERILATOR_ROOT=/local/jkaufman/verilator-v5.026
export PATH=$PATH:$VERILATOR_ROOT/bin